    <!-- ******CONTACT****** -->
    <section id="contact" class="contact dark section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center"><span class="reverse-highlight">Contact</span></h2>
                <p>Ce séminaire est organisé par le laboratoire <a href="http://www.univ-rennes2.fr/prefics">PREFics</a> dans le cadre du projet METICS. Les inscriptions (non obligatoires) se font par mail aux adresses suivantes :</p>
                <p><span class="reverse-highlight">Romain Huët :</span> rhhuet[at]gmail[point]com</p>
                <p><span class="reverse-highlight">Alexandre Rouxel :</span> alexandre[point]rouxel[at]outlook[point]fr</p>
                <p><span class="reverse-highlight">Olivier Sarrouy :</span> olivier[point]sarrouy[at]gmail[point]com</p>
                <p>Les lieux et dates seront actualisés sur les comptes Facebook et Twitter du séminaire : <a href="https://twitter.com/rennesseminaire">Twitter</a> | <a href="https://www.facebook.com/seminaire.souffrance/">Facebook</a><p>
        </div><!--//container-->
    </section><!--//contact-->
