    <!-- ******FEATURES****** -->
    <section id="features" class="features section dark">
        <div class="container text-center">
            <h2 class="title"><span class="reverse-highlight">PROGRAMME</span></h2>
            <ul class="feature-list list-unstyled">
                <li><span class="reverse-highlight">06/11/2015</span>, de 10h à 13h, amphi O1 | <span class="reverse-highlight">Estelle Ferrarese</span> | Philosophe et déléguée CNRS | Centre Marc Bloch (Berlin, Allemagne) </li>
                <li><span class="reverse-highlight">26/02/2016</span>, de 10h à 13h, amphi L3 | <span class="reverse-highlight">Alexis Cukier</span> | Philosophe | Laboratoire Sophiapol (Paris, France)</li>
                <li><span class="reverse-highlight">08/03/2016</span>, de 18h à 20h | <span class="reverse-highlight">François Cooren</span> | Professeur en communication | Université de Montréal (Montréal, Canada)</li>
                <li><span class="reverse-highlight">18/03/2016</span>, de 10h à 13h | <span class="reverse-highlight">Michaël Foessel</span> | Philosophe | Directeur de la chaire de philosophie à Polytechnique (Paris, France)</li>
                <li><span class="reverse-highlight">25/03/2016</span>, de 10h à 13h | <span class="reverse-highlight">Anselm Jappe</span> | Philosophe | Académie des Beaux-Arts de Frosinone (Frosinone, Italie)</li>
                <li><span class="reverse-highlight">01/04/2016</span> | <span class="reverse-highlight">Erik Bordeleau</span> | Philosophe | SenseLab (Montréal, Canada)
                <li><span class="reverse-highlight">29/04/2016</span> | <span class="reverse-highlight">Bernard Aspe</span> | Philosophe</li>
                <li><span class="reverse-highlight">13/05/2016</span> | <span class="reverse-highlight">Guillaume Le Blanc</span> | Philosophe | Université de Bordeaux III (Bordeaux, France) </li>
                <li><span class="reverse-highlight">03/06/2016</span> | <span class="reverse-highlight">Maud Verdier</span> | Maître de conférences en Sciences du langage | Université de Montpellier 3 (Montpellier, France) et | <span class="reverse-highlight">Michel de Fornel</span> | Sociolinguiste | Directeur d'études à l'EHESS (Paris, France)</li>
                <!-- <li><i class="fa fa-check"></i> HTML5 + CSS3</li>
                <li><i class="fa fa-check"></i> Built on <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.3</a></li>
                <li><i class="fa fa-check"></i> 400+ FontAwesome icons</li>
                <li><i class="fa fa-check"></i> 4 colour schemes</li>
                <li><i class="fa fa-check"></i> LESS files included</li>
                <li><i class="fa fa-check"></i> Compatible with all modern browsers</li> -->
            </ul>
        </div><!--//container-->
    </section><!--//features-->
